/*Schriften */



body{
    margin:0;
   }

div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
   
header{
       width:100%;
       height: fit-content;
       display: flex;
       justify-content: center;
       align-items: center;
}

main{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content{
    width:100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

#headerContent{
    height: 150px;
}

#mainContent{
    flex-wrap: wrap;
    gap: 10px;
}

.overViewCard{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}